@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>

<table class="table table-striped" id="customers">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Membership Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>


</table>

@section scripts{

    <script>

        $(function () {

            var $maintable = $('#customers');

           var dtable = $maintable.DataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                            {
                                data: "name",
                                render: function (data, type, customer) {
                                    // customer.id ou apenas data;
                                    return "<a href='customers/edit/" + customer.id + "'>" + data + "</a>"
                                }
                            },
                            {
                                data: "memberShipType.name"
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button class='btn btn-link js-Delete' data-customer-id='" + data + "'>Delete</button>"
                                }
                            }
                ]


            });

            $maintable.on('click', '.js-Delete', function (e) {

                var $btn = $(this);

                bootbox.confirm("Are you shore that you whant to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + $btn.data("customer-id"),
                            method: "DELETE",
                            success: function () {

                                dtable.row($btn.parents("tr")).remove().draw();
                                //$btn.parents("tr").remove();
                                console.log("success")
                            }
                        });
                    }

                });
            });

        })

    </script>

}
